.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inc,.dec,.res
{
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 50px;
  background-color: #61dafb;
  margin:10px;
  display:inline;
  border-radius: 30px;
  box-shadow: black 3px 3px 3px 3px;
}

.res{
  width: 200px;
}

.inc:hover,.dec:hover,.res:hover{
  background-color: red;
  cursor: pointer;
}

h1
{
  font-size: 100px;
  color: black;
  text-align: center;
 
}
